.container {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin-inline: 20%;
    gap: 25px;
    margin-top: 25px;
}

.container-head {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 35px;
}

.product-image {
    width: 250px;
    height: 250px;
    object-fit: contain;
    border-radius: 5px;
}

.product-main-text-view {
    margin-top: -10px;
    padding-left: 30px;
    background-image: url("../images/view.svg");
    background-position: left center;
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.product-main-text-name {
    margin: 0;
}

.product-main-text-size {
    margin: 0 0 15px;
}